/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
width: 100%; padding: 0 !important; margin:0 !important; background-color: rgba(124, 118, 111, 0.884);}
body {font-family: 'UnifrakturMaguntia', serif; }
